:root {
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* global style */

body {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* header */

.main-nav a {
  color: #ae7c78;
}

/* main */

.designer-bouquets h2 {
  font-family: Playfair Display;
  font-size: 44px;
  font-weight: 400;
  line-height: 59px;
  color: #ae7c78;
}

.designer-bouquets h2 span {
  font-family: Playfair Display;
  font-size: 44px;
  font-style: italic;
  line-height: 59px;
  color: #ae7c78;
}
.designer-bouquets p {
  font-size: 24px;
  line-height: 29px;
  color: #ae7c78;
}

.designer-bouquets a {
  background-color: #d89999;
  color: #ffffff;
}

.benefits dt {
  font-weight: 500;
  color: #ae7c78;
}

.benefits dd {
  color: #ae7c78;
}

.popular-bouquets h2 {
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  color: #ae7c78;
}

.slider-item h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: #ae7c78;
}

.slider-item p {
  color: #ae7c78;
}

.slider-item .size {
  color: #ae7c78;
}

.slider-item .price {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: #ae7c78;
}

.slider-item a {
  background-color: #d89999;
  color: #ffffff;
}

.catalog-item {
  background-color: rgba(174, 124, 120, 0.6);
}

.catalog-item h3 {
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  color: #ffffff;
}

.catalog-item p {
  color: #ffffff;
}

.discount-wrapper {
  background-color: rgba(174, 124, 120, 1);
}

.discount h3 {
  font-family: Playfair Display;
  font-size: 44px;
  line-height: 59px;
  color: #ffffff;
}

.discount p {
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.steps h2 {
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  color: #ae7c78;
}

.steps-item h3 {
  font-weight: 500;
  color: #ae7c78;
}

.steps-item p {
  color: #ae7c78;
}

.news h2 {
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;

  color: #ae7c78;
}

.news p {
  font-size: 24px;
  line-height: 29px;
  color: #ae7c78;
}

.reviews h2 {
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  color: #ae7c78;
}

.reviews-item p {
  color: #ae7c78;
}

.reviews-item cite {
  font-weight: 500;
  color: #ae7c78;
}

.maps-wrapper {
  width: 386px;
  height: 520px;
  background: #f7fafc;
  box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
  border-radius: 12px;
}

.maps-wrapper h2 {
  font-family: Playfair Display;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  color: #ae7c78;
}

.maps-wrapper dt {
  color: #ae7c78;
}

.maps-wrapper dd,
.maps-wrapper dd a {
  font-weight: 500;
  color: #ae7c78;
}

/* footer */

.main-footer {
  background-color: #ae7c78;
}

.footer-site-navigation a {
  color: #ffffff;
}
