html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  /* margin: 0; */
  /* padding: 0; */
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Playfair Display", serif; */
}

.main-nav a {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  color: #AE7C78;
}

.designer-bouquets h2 { 
  font-family: Playfair Display;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;
  color: #AE7C78;
  ;
}

.designer-bouquets h2 span {
  font-family: Playfair Display;
  font-size: 44px;
  font-style: italic;
  font-weight: 400;
  line-height: 59px;
  letter-spacing: 0em;
  text-align: left;
  color: #AE7C78;
  
}

