html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  
}

.main-nav a {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  color: #ae7c78;
}

.designer-bouquets h2 {
  font-family: Playfair Display;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 59px;
  letter-spacing: 0em;
  color: #ae7c78;
}

.designer-bouquets h2 span {
  font-family: Playfair Display;
  font-size: 44px;
  font-style: italic;
  font-weight: 400;
  line-height: 59px;
  letter-spacing: 0em;
  color: #ae7c78;
}
.designer-bouquets p {
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  color: #ae7c78;
}

.designer-bouquets a {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  background-color: #D89999;
}

